
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Promociones</h2>
      </div>
    </div>
  </div>

  <div>
    <h2>The Legend of Zelda: Breath of the Wild</h2>
    <img [src]="imagen2"  alt="The Legend of Zelda: Breath of the Wild">
    <p>Experimenta la aventura épica de Link en un vasto mundo abierto lleno de misterios, criaturas y desafíos.</p>
  </div>
  
  <div>
    <h2>Fortnite</h2>
    <img [src]="imagen" alt="Fortnite">
    <p>Sumérgete en un emocionante juego de disparos y construcción donde la estrategia y la habilidad son clave para la supervivencia.</p>
  </div>
  
 